/* CSS PARA EL SLIDE DE FOTOS */
#contenedorslide {
  margin: auto;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer; 
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  border: 0;
  filter: brightness(0.9);
}
/* CSS PARA SLIDE CON FLECHAS */

.callbacks_container {
  margin-bottom: 20px;
  position: relative;
  float: left;
  width: 100%;
}
.caption p{
  padding-top: 20px;
  color: black;
  text-align: right;
}
.boton{
  width: 160px;
  height: 40px;
}
.caption a {
  display: inline-block;
  padding: 10px 10px;
  background-color: #da0b0b;
  color: white;
  border: 40px;
  margin-top: 20px;
  text-decoration: none;
}
.callbacks .caption {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  flex-direction: column;
  width: 30%;
  height: 70%;
  transform: translate(220%, 15%);
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  /* background: #000;
  background: rgba(0, 0, 0, 0.8); */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px;
  margin: 0;
  max-width: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("flechas.gif") no-repeat left top;
  margin-top: -45px;
}
.callbacks_nav:active {
  opacity: 1;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

@media screen and (max-width: 410px) {
  .callbacks .caption {
    width: 30%;
    height: 30%;
    transform: translate(220%, 15%);
  }
  .callbacks_container {
    margin-bottom: 10px;
  }
}
